body {
  font-family: Helvetica;
}

.wrapper {
  background: #eee;
  display: grid;
  grid-template-columns: 13fr 5fr 4fr;
  width: 100vw;
  height: 100vh;
}

.one {
  padding: 1em;
}

.three {
  font-size: 30px;
  padding: 1em;
}

.five {
  padding: 1em;
  grid-column: 2 / 4;
}

.extra-info {
  position: absolute;
  display: none;
  font-style: italic;
  font-size: 20px;
  padding-top: 1em;
}

.info:hover + .extra-info {
  display: grid;
}

.info {
  font-size: 30px;
  padding-left: 5px;
  width: 20px;
  border-radius: 50px;
}

.info:hover {
  background-color: white;
  padding: 5px;
  width: 315px;
  transition: .3s;
}

.video-container {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

.video-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

#date {
  font-size: 60px;
  font-weight: bold;
}
h2 {
  font-size: 30px;
}


button{
border: solid 1px $white;
text-decoration:none;
cursor:pointer;
font-size:18px;
padding:10px 10px;
width:180px;
margin: 10px;
 outline: none;
  &:hover{
	border: solid 1px $white;
	}
}
