body {
font-family: Helvetica;
height:100%;
}


#stopwatch {
  margin: auto;
}

.video-container {
  margin:auto;
  position: relative;
  width: 60%;
  padding-bottom: 33.75%;
}

#tagesschau {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

h1 {
  font-size: 40px;
}
h2 {
  font-size: 30px;
}
/*
#mins, #seconds, #tens{
  font-size:2em;
} */

p {
  font-size: 20px;
}

button{
border: solid 1px $white;
text-decoration:none;
cursor:pointer;
font-size:18px;
padding:10px 10px;
width:180px;
margin: 10px;
 outline: none;
  &:hover{
	border: solid 1px $white;
	}
}
