{% block cron %}
<div id='cron'>
  <ul class='separator'>
    <li><b>crontab &nbsp;&ensp;0 20 &#10033; &#10033; &#10033;</b> (UTC-7) YouTube API fetch urls</li>
    <li><b>crontab 30 20 &#10033; &#10033; &#10033;</b> (UTC-7) git deploy Heroku</li>
  </ul>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus temporibus vel distinctio quod iure eveniet fuga, asperiores voluptates unde nulla incidunt cupiditate, eligendi saepe, sequi nam sunt alias ipsam veritatis voluptatem voluptatum, expedita ratione nobis! Ipsa facilis, maiores. Tempora, vel.
</div>
{% endblock %}
